# Getting started with Azure ML Data Prep SDK
Copyright (c) Microsoft Corporation. All rights reserved.<br>
Licensed under the MIT License.


Wonder how you can make the most of the Azure ML Data Prep SDK? In this "Getting Started" guide, we'll demonstrate how to do your normal data wrangling with this SDK and showcase a few highlights that make this SDK shine. Using a sample of this [Kaggle crime dataset](https://www.kaggle.com/currie32/crimes-in-chicago/home) as an example, we'll cover how to:

* [Read in data](#Read-in-data)
* [Profile your data](#Profile-your-data)
* [Append rows](#Append-rows)
* [Apply common data science transforms](#Apply-common-data-science-transforms)
    * [Summarize](#Summarize)
    * [Join](#Join)
    * [Filter](#Filter)
    * [Replace](#Replace)
* [Consume your cleaned dataset](#Consume-your-cleaned-dataset)
* [Explore advanced features](#Explore-advanced-features)

In [1]:
from IPython.display import display
from os import path
from tempfile import mkdtemp

import pandas as pd
import azureml.dataprep as dprep

# Paths for datasets
file_crime_dirty  = '../../data/crime-dirty.csv'
file_crime_spring = '../../data/crime-spring.csv'
file_crime_winter = '../../data/crime-winter.csv'
file_aldermen     = '../../data/chicago-aldermen-2015.csv'

# Seed
RAND_SEED = 7251

## Read in data

Azure ML Data Prep supports many different file reading formats (i.e. CSV, Excel, Parquet) and the ability to infer column types automatically. To see how powerful the `auto_read_file` capability is, let's take a peek at the `dirty-crime.csv`:

In [2]:
dprep.read_csv(path=file_crime_dirty).head(7)

                              File updated 11/2/2018          Column2
0                                                                None
1                                                                None
2                                                                None
3  ID|Case Number|Date|Block|IUCR|Primary Type|De...             None
4  10140490|HY329907|07/05/2015 11:50:00 PM|050XX...   -87.800174996)
5  10139776|HY329265|07/05/2015 11:30:00 PM|011XX...    -87.65955018)
6  10140270|HY329253|07/05/2015 11:20:00 PM|121XX...             None

A common occurrence in many datasets is to have a column of values with commas; in our case, the last column represents location in the form of longitude-latitude pair. The default CSV reader interprets this comma as a delimiter and thus splits the data into two columns. Furthermore, it incorrectly reads in the header as the column name. Normally, we would need to `skip` the header and specify the delimiter as `|`, but our `auto_read_file` eliminates that work:

In [3]:
crime_dirty = dprep.auto_read_file(path=file_crime_dirty)

crime_dirty.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10140490.0,HY329907,07/05/2015 11:50:00 PM,050XX N NEWLAND AVE,820.0,THEFT,$500 AND UNDER,STREET,False,False,...,41.0,10.0,06,1129230.0,1933315.0,2015.0,07/12/2015 12:42:46 PM,41.973309,-87.800175,"(41.973309466, -87.800174996)"
1,10139776.0,HY329265,07/05/2015 11:30:00 PM,011XX W MORSE AVE,460.0,BATTERY,SIMPLE,STREET,False,True,...,49.0,1.0,08B,1167370.0,1946271.0,2015.0,07/12/2015 12:42:46 PM,42.008124,-87.659550,"(42.008124017, -87.65955018)"
2,10140270.0,HY329253,07/05/2015 11:20:00 PM,121XX S FRONT AVE,486.0,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,...,9.0,53.0,08B,NaN,NaN,2015.0,07/12/2015 12:42:46 PM,NaN,NaN,
3,10139885.0,HY329308,07/05/2015 11:19:00 PM,051XX W DIVISION ST,610.0,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,...,37.0,25.0,05,1141721.0,1907465.0,2015.0,07/12/2015 12:42:46 PM,41.902152,-87.754883,"(41.902152027, -87.754883404)"
4,10140379.0,HY329556,07/05/2015 11:00:00 PM,012XX W LAKE ST,930.0,MOTOR VEHICLE THEFT,THEFT/RECOVERY: AUTOMOBILE,STREET,False,False,...,27.0,28.0,07,1168413.0,1901632.0,2015.0,07/12/2015 12:42:46 PM,41.885610,-87.657009,"(41.885610142, -87.657008701)"

__Advanced features:__ if you'd like to specify the file type and adjust how you want to read files in, you can see the list of our specialized file readers and how to use them [here](../../how-to-guides/data-ingestion.ipynb).

## Profile your data

Let's understand what our data looks like. Azure ML Data Prep facilitates this process by offering data profiles that help us glimpse into column types and column summary statistics. Notice that our auto file reader automatically guessed the column type:

In [4]:
crime_dirty.get_profile()

ColumnProfile
    name: ID
    type: FieldType.DECIMAL

    min: 10139697.0
    max: 10140868.0
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 10139697.0
           1%: 10139709.5
           5%: 10139697.0
          25%: 10139762.0
          50%: 10139830.5
          75%: 10140379.0
          95%: 10140868.0
          99%: 10140868.0
        99.9%: 10140868.0

    mean: 10140062.299999999
    std: 409.80565854762824
    variance: 167940.67777765525
    skewness: 0.6883524570707924
    kurtosis: -1.1536428984684086

ColumnProfile
    name: Case Number
    type: FieldType.STRING

    min: HY329177
    max: HY330421
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Date
    type: FieldType.STRING

    min: 07/05/2015 10:10:00 PM
    max: 07/05/2015 11:50:00 PM
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Block
    type: FieldType.STRING

    min: 011XX W MORSE AVE
    max: 121XX S FRONT AVE
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: IUCR
    type: FieldType.DECIMAL

    min: 460.0
    max: 1811.0
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 460.0
           1%: 473.0
           5%: 460.0
          25%: 610.0
          50%: 975.0
          75%: 1320.0
          95%: 1811.0
          99%: 1811.0
        99.9%: 1811.0

    mean: 1008.6999999999999
    std: 435.0555647781608
    variance: 189273.34444444446
    skewness: 0.273880231989922
    kurtosis: -1.2324333429507028

ColumnProfile
    name: Primary Type
    type: FieldType.STRING

    min: ARSON
    max: THEFT
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Description
    type: FieldType.STRING

    min: $500 AND UNDER
    max: TO VEHICLE
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Location Description
    type: FieldType.STRING

    min: ALLEY
    max: VEHICLE NON-COMMERCIAL
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Arrest
    type: FieldType.BOOLEAN

    min: False
    max: True
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Domestic
    type: FieldType.BOOLEAN

    min: False
    max: True
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Beat
    type: FieldType.DECIMAL

    min: 524.0
    max: 2431.0
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 524.0
           1%: 528.0
           5%: 524.0
          25%: 824.0
          50%: 1118.0
          75%: 1613.0
          95%: 2431.0
          99%: 2431.0
        99.9%: 2431.0

    mean: 1263.3999999999999
    std: 633.1475516988297
    variance: 400875.8222222222
    skewness: 0.4606773427916479
    kurtosis: -1.2148110554360347

ColumnProfile
    name: District
    type: FieldType.DECIMAL

    min: 5.0
    max: 24.0
    count: 10.0
    missing_count: 1.0
    not_missing_count: 9.0
    percent_missing: 0.1
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 5.0
           1%: 6.2
           5%: 5.0
          25%: 8.75
          50%: 12.0
          75%: 17.0
          95%: 24.0
          99%: 24.0
        99.9%: 24.0

    mean: 13.222222222222221
    std: 6.098724821177329
    variance: 37.19444444444444
    skewness: 0.3828128522782998
    kurtosis: -1.2800261778487807

ColumnProfile
    name: Ward
    type: FieldType.DECIMAL

    min: 9.0
    max: 49.0
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 9.0
           1%: 10.5
           5%: 9.0
          25%: 16.0
          50%: 30.5
          75%: 41.0
          95%: 49.0
          99%: 49.0
        99.9%: 49.0

    mean: 29.5
    std: 14.167647024902275
    variance: 200.72222222222226
    skewness: -0.09410071523495527
    kurtosis: -1.648918863969479

ColumnProfile
    name: Community Area
    type: FieldType.DECIMAL

    min: 1.0
    max: 63.0
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 1.0
           1%: 2.0
           5%: 1.0
          25%: 10.0
          50%: 28.5
          75%: 53.0
          95%: 63.0
          99%: 63.0
        99.9%: 63.0

    mean: 32.3
    std: 23.281132083966863
    variance: 542.0111111111112
    skewness: -0.02982541942615151
    kurtosis: -1.7612546753590468

ColumnProfile
    name: FBI Code
    type: FieldType.STRING

    min: 05
    max: 18
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: X Coordinate
    type: FieldType.DECIMAL

    min: 1129230.0
    max: 1172409.0
    count: 10.0
    missing_count: 1.0
    not_missing_count: 9.0
    percent_missing: 0.1
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 1129230.0
           1%: 1134226.4
           5%: 1129230.0
          25%: 1149945.5
          50%: 1160997.0
          75%: 1167630.75
          95%: 1172409.0
          99%: 1172409.0
        99.9%: 1172409.0

    mean: 1157453.7777777778
    std: 14052.038898125935
    variance: 197459797.19444433
    skewness: -0.8167695241975886
    kurtosis: -0.7955776867289264

ColumnProfile
    name: Y Coordinate
    type: FieldType.DECIMAL

    min: 1826485.0
    max: 1946271.0
    count: 10.0
    missing_count: 1.0
    not_missing_count: 9.0
    percent_missing: 0.1
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 1826485.0
           1%: 1842231.4
           5%: 1826485.0
          25%: 1876206.25
          50%: 1901632.0
          75%: 1932624.25
          95%: 1946271.0
          99%: 1946271.0
        99.9%: 1946271.0

    mean: 1898273.3333333333
    std: 37733.23942825477
    variance: 1423797357.7500005
    skewness: -0.4481360090688111
    kurtosis: -1.028783137057662

ColumnProfile
    name: Year
    type: FieldType.DECIMAL

    min: 2015.0
    max: 2015.0
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 2015.0
           1%: 2015.0
           5%: 2015.0
          25%: 2015.0
          50%: 2015.0
          75%: 2015.0
          95%: 2015.0
          99%: 2015.0
        99.9%: 2015.0

    mean: 2015.0
    std: 0.0
    variance: 0.0
    skewness: nan
    kurtosis: nan

ColumnProfile
    name: Updated On
    type: FieldType.STRING

    min: 07/12/2015 12:42:46 PM
    max: 07/12/2015 12:42:46 PM
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile
    name: Latitude
    type: FieldType.DECIMAL

    min: 41.6793109
    max: 42.008124017
    count: 10.0
    missing_count: 1.0
    not_missing_count: 9.0
    percent_missing: 0.1
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 41.6793109
           1%: 41.722618652799994
           5%: 41.6793109
          25%: 41.81602052575
          50%: 41.885610142
          75%: 41.9709022135
          95%: 42.008124017
          99%: 42.008124017
        99.9%: 42.008124017

    mean: 41.87661278344444
    std: 0.10364520556300645
    variance: 0.010742328636197864
    skewness: -0.4504133511718018
    kurtosis: -1.027551479452864

ColumnProfile
    name: Longitude
    type: FieldType.DECIMAL

    min: -87.800174996
    max: -87.644545209
    count: 10.0
    missing_count: 1.0
    not_missing_count: 9.0
    percent_missing: 0.1
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -87.800174996
           1%: -87.7820583592
           5%: -87.800174996
          25%: -87.72499244275
          50%: -87.685233078
          75%: -87.65891481025
          95%: -87.644545209
          99%: -87.644545209
        99.9%: -87.644545209

    mean: -87.6973696417778
    std: 0.05125709218559426
    variance: 0.0026272894993225084
    skewness: -0.8175649306454071
    kurtosis: -0.8129192475091398

ColumnProfile
    name: Location
    type: FieldType.STRING

    min:
    max: (42.008124017, -87.65955018)
    count: 10.0
    missing_count: 0.0
    not_missing_count: 10.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 1.0

## Append rows

What if your data is split across multiple files? We support the ability to append multiple datasets column-wise and row-wise. Here, we demonstrate how you can coalesce datasets row-wise:

In [5]:
# Datasets with the same schema as crime_dirty
crime_winter = dprep.auto_read_file(path=file_crime_winter)
crime_spring = dprep.auto_read_file(path=file_crime_spring)

In [6]:
crime = (crime_dirty.append_rows(dataflows=[crime_winter, crime_spring]))

crime.take_sample(probability=0.25, seed=RAND_SEED).head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10140270.0,HY329253,07/05/2015 11:20:00 PM,121XX S FRONT AVE,486.0,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,...,9.0,53.0,08B,NaN,NaN,2015.0,07/12/2015 12:42:46 PM,NaN,NaN,
1,10374287.0,HZ110730,1/10/2016 11:50,043XX W ARMITAGE AVE,5002.0,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,False,False,...,30.0,20.0,26,1146917.0,1912931.0,2016.0,2016-06-07T15:55:00.000000,41.917054,-87.735658,"(41.917053561, -87.735657637)"
2,10375178.0,HZ110832,1/10/2016 14:20,057XX S KEDZIE AVE,460.0,BATTERY,SIMPLE,RESTAURANT,False,False,...,14.0,63.0,08B,1156029.0,1866379.0,2016.0,2016-02-04T15:44:00.000000,41.789131,-87.703435,"(41.78913051, -87.703434602)"
3,10535059.0,HZ278872,2016-04-15T04:30:00.000000,004XX S KILBOURN AVE,810.0,THEFT,OVER $500,RESIDENCE,False,False,...,24.0,26.0,6,NaN,NaN,2016.0,2016-05-25T15:59:00.000000,NaN,NaN,

__Advanced features:__ you can learn how to append column-wise and how to deal with appending data with different schemas [here](../../how-to-guides/append-columns-and-rows.ipynb).

## Apply common data science transforms

Azure ML Data Prep supports almost all common data science transforms found in other industry-standard data science libraries. Here, we'll explore the ability to `summarize`, `join`, `filter`, and `replace`. 

__Advanced features:__
* We also provide "smart" transforms not found in pandas that use machine learning to [derive new columns](../../how-to-guides/derive-column-by-example.ipynb), [split columns](../../how-to-guides/split-column-by-example.ipynb), and [fuzzy grouping](../../how-to-guides/fuzzy-group.ipynb).
* Finally, we also help featurize your dataset to prepare it for machine learning; learn more about our featurizers like [one-hot encoder](../../how-to-guides/one-hot-encoder.ipynb), [label encoder](../../how-to-guides/label-encoder.ipynb), [min-max scaler](../../how-to-guides/min-max-scaler.ipynb), and [random (train-test) split](../../how-to-guides/random-split.ipynb).
* Our complete list of example Notebooks for transforms can be found in our [How-to Guides](../../how-to-guides).

### Summarize

Let's see which wards had the most crimes in our sample dataset:

In [7]:
crime_summary = (crime
    .summarize(
        summary_columns=[
            dprep.SummaryColumnsValue(
                column_id='ID', 
                summary_column_name='total_ward_crimes', 
                summary_function=dprep.SummaryFunction.COUNT
            )
        ],
        group_by_columns=['Ward']
    )
)

(crime_summary
     .sort(sort_order=[('total_ward_crimes', True)])
     .head(5)
)

   Ward  total_ward_crimes
0   9.0                  3
1  41.0                  2
2  16.0                  2
3  24.0                  2
4  14.0                  2

### Join

Let's annotate each observation with more information about the ward where the crime occurred. Let's do so by joining `crime` with a dataset which lists the current aldermen for each ward:

In [8]:
aldermen = dprep.auto_read_file(path=file_aldermen)

aldermen.head(5)

   Ward              Name Took Office Party
0   1.0  Proco Joe Moreno       2010*   Dem
1   2.0     Brian Hopkins        2015   Dem
2   3.0        Pat Dowell        2007   Dem
3   4.0       Sophia King       2016*   Dem
4   5.0   Leslie Hairston        1999   Dem

In [9]:
crime.join(
    left_dataflow=crime,
    right_dataflow=aldermen,
    join_key_pairs=[
        ('Ward', 'Ward')
    ]
).head(5)

,l_ID,l_Case Number,l_Date,l_Block,l_IUCR,l_Primary Type,l_Description,l_Location Description,l_Arrest,l_Domestic,...,l_Y Coordinate,l_Year,l_Updated On,l_Latitude,l_Longitude,l_Location,r_Ward,r_Name,r_Took Office,r_Party
0,10140490.0,HY329907,07/05/2015 11:50:00 PM,050XX N NEWLAND AVE,820.0,THEFT,$500 AND UNDER,STREET,False,False,...,1933315.0,2015.0,07/12/2015 12:42:46 PM,41.973309,-87.800175,"(41.973309466, -87.800174996)",41.0,Anthony Napolitano,2015,Rep
1,10400131.0,HZ136171,1/10/2016 18:00,0000X W TERMINAL ST,810.0,THEFT,OVER $500,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,False,False,...,NaN,2016.0,2016-02-02T15:58:00.000000,NaN,NaN,,41.0,Anthony Napolitano,2015,Rep
2,10139776.0,HY329265,07/05/2015 11:30:00 PM,011XX W MORSE AVE,460.0,BATTERY,SIMPLE,STREET,False,True,...,1946271.0,2015.0,07/12/2015 12:42:46 PM,42.008124,-87.659550,"(42.008124017, -87.65955018)",49.0,Joe Moore,1991,Dem
3,10140270.0,HY329253,07/05/2015 11:20:00 PM,121XX S FRONT AVE,486.0,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,False,True,...,NaN,2015.0,07/12/2015 12:42:46 PM,NaN,NaN,,9.0,Anthony Beale,1999,Dem
4,10498554.0,HZ239907,2016-04-15T23:56:00.000000,007XX E 111TH ST,1153.0,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,1831503.0,2016.0,2016-05-11T15:48:00.000000,41.692834,-87.604319,"(41.692833841, -87.60431945)",9.0,Anthony Beale,1999,Dem

__Advanced features:__ [Learn more](../../how-to-guides/join.ipynb) about how you can do all variants of `join`, like inner-, left-, right-, anti-, and semi-joins.

### Filter

Let's look at theft crimes:

In [10]:
theft = crime.filter(crime['Primary Type'] == 'THEFT')

theft.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10140490.0,HY329907,07/05/2015 11:50:00 PM,050XX N NEWLAND AVE,820.0,THEFT,$500 AND UNDER,STREET,False,False,...,41.0,10.0,06,1129230.0,1933315.0,2015.0,07/12/2015 12:42:46 PM,41.973309,-87.800175,"(41.973309466, -87.800174996)"
1,10374720.0,HZ110836,1/10/2016 7:30,079XX S RHODES AVE,890.0,THEFT,FROM BUILDING,OTHER,False,False,...,6.0,44.0,6,1181279.0,1852568.0,2016.0,2016-02-04T15:44:00.000000,41.750687,-87.611277,"(41.75068679, -87.611276811)"
2,10400131.0,HZ136171,1/10/2016 18:00,0000X W TERMINAL ST,810.0,THEFT,OVER $500,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,False,False,...,41.0,76.0,6,NaN,NaN,2016.0,2016-02-02T15:58:00.000000,NaN,NaN,
3,10516598.0,HZ258664,2016-04-15T17:00:00.000000,082XX S MARSHFIELD AVE,890.0,THEFT,FROM BUILDING,RESIDENCE,False,False,...,21.0,71.0,6,1166776.0,1850053.0,2016.0,2016-05-12T15:48:00.000000,41.744107,-87.664494,"(41.744106973, -87.664494285)"
4,10534446.0,HZ277630,2016-04-15T10:00:00.000000,055XX N KEDZIE AVE,890.0,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,40.0,13.0,6,NaN,NaN,2016.0,2016-05-25T15:59:00.000000,NaN,NaN,

### Replace

Notice that our `theft` dataset has empty strings in column `Location`. Let's replace those with a missing value:

In [11]:
theft_replaced = (theft
    .replace_na(
        columns=['Location'], 
        use_empty_string_as_na=True
    )
)

theft_replaced.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10140490.0,HY329907,07/05/2015 11:50:00 PM,050XX N NEWLAND AVE,820.0,THEFT,$500 AND UNDER,STREET,False,False,...,41.0,10.0,06,1129230.0,1933315.0,2015.0,07/12/2015 12:42:46 PM,41.973309,-87.800175,"(41.973309466, -87.800174996)"
1,10374720.0,HZ110836,1/10/2016 7:30,079XX S RHODES AVE,890.0,THEFT,FROM BUILDING,OTHER,False,False,...,6.0,44.0,6,1181279.0,1852568.0,2016.0,2016-02-04T15:44:00.000000,41.750687,-87.611277,"(41.75068679, -87.611276811)"
2,10400131.0,HZ136171,1/10/2016 18:00,0000X W TERMINAL ST,810.0,THEFT,OVER $500,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,False,False,...,41.0,76.0,6,NaN,NaN,2016.0,2016-02-02T15:58:00.000000,NaN,NaN,None
3,10516598.0,HZ258664,2016-04-15T17:00:00.000000,082XX S MARSHFIELD AVE,890.0,THEFT,FROM BUILDING,RESIDENCE,False,False,...,21.0,71.0,6,1166776.0,1850053.0,2016.0,2016-05-12T15:48:00.000000,41.744107,-87.664494,"(41.744106973, -87.664494285)"
4,10534446.0,HZ277630,2016-04-15T10:00:00.000000,055XX N KEDZIE AVE,890.0,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,40.0,13.0,6,NaN,NaN,2016.0,2016-05-25T15:59:00.000000,NaN,NaN,None

__Advanced features:__ [Learn more](../../how-to-guides/replace-fill-error.ipynb) about more advanced `replace` and `fill` capabilities.

## Consume your cleaned dataset

Azure ML Data Prep allows you to "choose your own adventure" once you're done wrangling. You can:

1. Write to a pandas dataframe
2. Execute on Spark
3. Consume directly in Azure Machine Learning models

In this quickstart guide, we'll show how you can export to a pandas dataframe.

__Advanced features:__ 
* One of the beautiful features of Azure ML Data Prep is that you only need to write your code once and choose whether to scale up or out.
* You can directly consume your new DataFlow in model builders like Azure Machine Learning's [automated machine learning](https://github.com/Azure/MachineLearningNotebooks/blob/master/automl/13a.auto-ml-dataprep.ipynb).

In [12]:
theft_replaced.to_pandas_dataframe()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10140490.0,HY329907,07/05/2015 11:50:00 PM,050XX N NEWLAND AVE,820.0,THEFT,$500 AND UNDER,STREET,False,False,...,41.0,10.0,06,1129230.0,1933315.0,2015.0,07/12/2015 12:42:46 PM,41.973309,-87.800175,"(41.973309466, -87.800174996)"
1,10374720.0,HZ110836,1/10/2016 7:30,079XX S RHODES AVE,890.0,THEFT,FROM BUILDING,OTHER,False,False,...,6.0,44.0,6,1181279.0,1852568.0,2016.0,2016-02-04T15:44:00.000000,41.750687,-87.611277,"(41.75068679, -87.611276811)"
2,10400131.0,HZ136171,1/10/2016 18:00,0000X W TERMINAL ST,810.0,THEFT,OVER $500,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,False,False,...,41.0,76.0,6,NaN,NaN,2016.0,2016-02-02T15:58:00.000000,NaN,NaN,None
3,10516598.0,HZ258664,2016-04-15T17:00:00.000000,082XX S MARSHFIELD AVE,890.0,THEFT,FROM BUILDING,RESIDENCE,False,False,...,21.0,71.0,6,1166776.0,1850053.0,2016.0,2016-05-12T15:48:00.000000,41.744107,-87.664494,"(41.744106973, -87.664494285)"
4,10534446.0,HZ277630,2016-04-15T10:00:00.000000,055XX N KEDZIE AVE,890.0,THEFT,FROM BUILDING,"SCHOOL, PUBLIC, BUILDING",False,False,...,40.0,13.0,6,NaN,NaN,2016.0,2016-05-25T15:59:00.000000,NaN,NaN,None
5,10535059.0,HZ278872,2016-04-15T04:30:00.000000,004XX S KILBOURN AVE,810.0,THEFT,OVER $500,RESIDENCE,False,False,...,24.0,26.0,6,NaN,NaN,2016.0,2016-05-25T15:59:00.000000,NaN,NaN,None

## Explore advanced features

Congratulations on finishing your introduction to the Azure ML Data Prep SDK! If you'd like more detailed tutorials on how to construct machine learning datasets or dive deeper into all of its functionality, you can find more information in our detailed notebooks [here](https://github.com/Microsoft/PendletonDocs). There, we cover topics including how to:

* [Cache your Dataflow to speed up your iterations](../../how-to-guides/cache.ipynb)
* [Add your custom Python transforms](../../how-to-guides/custom-python-transforms.ipynb)
* [Impute missing values](../../how-to-guides/impute-missing-values.ipynb)
* [Sample your data](../../how-to-guides/subsetting-sampling.ipynb)
* [Reference and link between Dataflows](../../how-to-guides/join.ipynb)